# Entorno
.venv/
env/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Datos
data/raw/*
data/interim/*
data/processed/*
!data/.gitkeep

# Resultados
experiments_results/*
!experiments_results/.gitkeep

# IDEs
.vscode/
.idea/
*.swp
